/ProyectoPootutoria3virtual/Tutoria3Virtual/nbproject/private/
/ProyectoPootutoria3virtual/Tutoria3Virtual/build/
/ProyectoPOOTutoria2/Proyectopootutoria2/nbproject/private/
/ProyectoPOOTutoria2/Proyectopootutoria2/build/
/ActividadUnidad1/ActividadUnidad1/nbproject/private/
/ActividadUnidad1/Punto2Actividad1/nbproject/private/
